<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IStationSimulatorService" />
                <binding name="WSHttpBinding_ICoreService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/StationSimulator" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IStationSimulatorService"
                contract="StationSimulatorReference.IStationSimulatorService"
                name="WSHttpBinding_IStationSimulatorService">
                <identity>
                    <userPrincipalName value="COMPUTER\User" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8888/Core" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICoreService" contract="CoreServiceReference.ICoreService"
                name="WSHttpBinding_ICoreService">
                <identity>
                    <userPrincipalName value="DESKTOP-1KD8R70\vrusa" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>