<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IStationSimulatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/StationSimulator" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IStationSimulatorService"
                contract="StationSimulatorReference.IStationSimulatorService"
                name="WSHttpBinding_IStationSimulatorService">
                <identity>
                    <userPrincipalName value="COMPUTER\User" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>